footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #44CFFB;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.footerPrimeraColumna {
    display: flex;
    flex-direction: column;
}

.footerPrimeraColumna h4 {
    margin-top: 0;
}

.footerPrimeraColumna p,
.footerSegundaColumna ul {
    margin: 10px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.redesSociales {
    display: flex;
    gap: 10px;
}

.redesSociales a img {
    width: 24px;
    height: 24px;
}