.grid-segunda-parte {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.grid-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item h2 {
    margin-bottom: 10px;
}

.grid-item h3 {
    margin-bottom: 10px;
    color: #666;
}

.grid-item p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.grid-item button {
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-item button:hover {
    background-color: rgba(252, 64, 64, 0.863);
}